{% extends 'base.html.twig' %}

{% block title %}Add clip{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add clip</button>
    {{ form_end(form) }}
{% endblock %}