{% extends 'base.html.twig' %}

{% block title %}My Clips{% endblock %}

{% block body %}
    <h1>My Clips</h1>
    {% for clip in clips %}
        <div class="card" style="width: 18rem;">
            <img src="{{ clip.clipThumbnailSmall }}" title="{{ clip.clipName }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ clip.clipName }}</h5>
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(clips) }}
    </div>
{% endblock %}

