{% extends 'admin/base.html.twig' %}

{% block title %}Edit news{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Edit</button>
    {{ form_end(form) }}
{% endblock %}