{% extends 'admin/base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    Welcome to the Admin Dashboard of membsite 0.1 dev.
    <br>
    Your logged in as {{ user.username }}

    <br>
    <b>Active Users</b>
    <br>
    {% for users in activeUsers %}
        <a href="{{ path('admin_user_view', {'user' : users.username}) }}" >{{ users.username }}</a>
        <br>
    {% endfor %}

{% endblock %}