{% extends 'admin/base.html.twig' %}

{% block title %}clips list{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add clips</button>
    {{ form_end(form) }}
{% endblock %}